x-turtle {
    font-size: 35px;

    /* preload images */
    content:
    url(/frontend/resources/images/buttons/turned_on_green.png)
    url(/frontend/resources/images/buttons/turned_on_hover_green.png)
    url("/frontend/resources/images/turtle_green_light_on.png");

    display:block;
    position: relative;
    width: 500px;
    height: 130px;
    padding: 30px;
    background: black;
    word-wrap: break-word;

    margin-top: 40px;

    /* Handles the transition */
    transition:
        height 0.15s;

    /* Handles the border */
    image-rendering: pixelated;
    border-image-source: url("/frontend/resources/images/border_modified.png");
    border-image-slice: calc(8 * var(--zoom-border-correction));
    border-image-width: 20px;
    border-image-outset: 0px;
    border-radius: 10%;
    border-style: solid;

    color: white;

    .greenLight {
        width: 30px;
        height: 30px;

        position: absolute;
        top: -30px;
        right: 50px;

        /* Handles the border */
        image-rendering: pixelated;
        border-image-source: url("/frontend/resources/images/border_modified.png");
        border-image-slice: calc(8 * var(--zoom-border-correction));
        border-image-width: 20px;
        border-image-outset: 10px;
        border-style: solid;

        background-color: #c7c86e;
    }

    .powerButton {
        width: 50px;
        height: 50px;

        position:absolute;
        top: -50px;
        left: 4%;

        background-image: url(/frontend/resources/images/buttons/turned_on_green.png);
        background-repeat: no-repeat;
        image-rendering: pixelated;
        background-size: 100%;
        background-position: center;

        background-color: #c7c86e;

        /* Handles the border */
        image-rendering: pixelated;
        border-style: solid;
        border-image: url("/frontend/resources/images/border_modified.png");
        border-image-slice: calc(5 * var(--zoom-border-correction));
        border-image-width: 16px 16px 0 16px;
        border-image-outset: 15px 15px 0 15px;
    }

    .powerButton:hover {
        background-image: url(/frontend/resources/images/buttons/turned_on_hover_green.png);
        cursor: pointer
    }

    .powerButton:active {
        background-size: 88%;
        cursor: pointer
    }

    .showOnExpand {
        display: none;
    }

    .terminalInput {
        color:#dbdb6b;

        input {
            height: 40px;
            outline: none;
            width: 400px;
            font-size: 35px;
            background-color: rgba(0, 0, 0, 0);
            font-family: "Mojangles";
            border-color: rgba(0, 0, 0, 0);

            color: white;
        }


    }
}

/* makes turtle text gray if it isn't connected */
[connected="false"] {
    color: gray;
}

/* handles the expanded state of the turtle */
[expanded="true"] {
    height: 220px;

    .showOnExpand {
        display: block;
    }

    .hideOnExpand {
        display: none;
    }
}