@font-face {
    font-family: "Mojangles";
    src: url(/frontend/resources/fonts/minecraftfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Mojangles", Arial, Helvetica, sans-serif;
}

/* Make sure to edit the content:url stuff to preload image resources */
#mainBody {
    /* background: url(/frontend/resources/images/static-gif-animated-tv.gif); */
    background-color: #2f2f2f;
    background-size: cover;
    color: white;
    content:url(/frontend/resources/images/buttons/turned_on_green.png) url(/frontend/resources/images/buttons/turned_on_hover_green.png);
    text-rendering: optimizeLegibility;
}

/* Links */
a {
    color: #06cff7;
}

a:hover {
    color: #04aeeb;
    font-style: italic;
}

a:active {
    color: #0281af;
    font-style: italic;
}

input{
    background-color: #c7c86e;
    border-color: rgb(153, 147, 80);
    border-radius: 0.2em;
    border-width: 0.25em;
    background-image:0;
}

button{
    background-color: #c7c86e;
    border-color: #c7c86e;
    border-radius: 0.4em;
}

#submitCommandButton{
    background-color: #c7c86e;
    border-color: #c7c86e;
    border-radius: 0em;
}

.powerButton{
    width: 3.4em;
    height: 3em;

    border-radius: 0.4em;
    background-image: url(/frontend/resources/images/buttons/turned_on_green.png);
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-size: 2.4em;
    background-position: 0.2em;

    margin-top: 1em;
}

.powerButton:hover {
    background-image: url(/frontend/resources/images/buttons/turned_on_hover_green.png);
    background-color: #e0e27d;
    border-color: #e0e27d;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.55rem #c7c86e);
}

.powerButton:active {
    background-image: url(/frontend/resources/images/buttons/turned_on_hover_green.png);
    background-position-x: 0.25em;
    background-position-y: 0.25em;
}

.turtle {
    width: 300px;
    border: 5px solid #c7c86e;
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: black 00px 0px 10px; */
    background: #000000;
    color: white;
    word-wrap: break-word;
    backdrop-filter: blur(10px) brightness(0.75);
}

.turtleBoxGrid {
    display: grid;
    grid-template-columns: 2.5em auto;
}

.Grid {
    display: grid;
}
